<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><span th:text="${styleName}"></span></h1>

        <a th:href="@{/beer}">
            <span>Back</span>
        </a>
		<table border="1" th:if="${beers.size()!=0}">
			<thead>
                
				<tr>
					<th>Beer Name</th>
					<th>Description</th>
					<th>Brewery Name</th>
				</tr>
			</thead>
			<tbody>
				<tr data-th-each="b: ${beers}" data-th-object="${b}">
					<td>
						<span data-th-text="*{beerName}"></span> 
					</td>
					<td>
						<span data-th-text="*{beerDescription}"></span> 
					</td>
					<td>
                        <!-- to edit the href later -->
						<a data-th-href="@{/beer/style/brewery/{id}?breweryName={breweryName}(id=*{breweryId}, breweryName=*{breweryName})}">
							<span data-th-text="*{breweryName}"></span>
						</a>
					</td>
					<td>
						
					</td>
				</tr>
			</tbody>
		</table>

    <div th:if="${beers.size()==0}">
        <h2>No beers found for this style</h2>
    </div>
</body>
</html>